<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <h1 class="m-3">Library application</h1>
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a id="list" href="" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>List of books</span>
      </a>
      <a id="add" *ngIf = "authorized" routerLink="/book-add" class="list-group-item list-group-item-action py-2 ripple active">
        <i class="fas fa-chart-area fa-fw me-3"></i><span>Add book</span>
      </a>
      <a id="login" *ngIf = "!authorized" routerLink="/registration"  class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-lock fa-fw me-3"></i><span>Log in</span></a>
      <a id="logout" *ngIf = "authorized" (click)="logout()" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-chart-line fa-fw me-3"></i><span>Log out</span></a> 
    </div>
  </div>
</nav>

